{{title "Users | Edit"}}

{{admin-nav-bar addShown=false}}

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 col-centered">
      <div class="row">
          <div class="col-md-12">
              <div class="card padded" >
                  <div class="content">

					<form class="form">
					  <div class="form-group">
					    {{validated-input type="text" model=this placeholder="First Name" valuePath="model.account.firstName"}}
					  </div>
					  
					  <div class="form-group">
					    {{validated-input type="text" model=this placeholder="Last Name" valuePath="model.account.lastName"}}
					  </div>
					                        
					  <div class="form-group">
					    {{validated-input type="email" model=this placeholder="Email" valuePath="model.account.email"}}
					  </div>
					    
					  <div class="form-group form-group-inline">
							<select onchange={{action "selectCountry" value="target.value"}}>
								{{#each countries as |countryChoice|}}
									<option value={{countryChoice.id}} selected={{eq country countryChoice.id}}>{{countryChoice.name}}</option>
							    {{/each}}
							</select>

							<select onchange={{action "selectCity" value="target.value"}}>
								{{#each cities as |cityChoice|}}
									<option value={{cityChoice.id}} selected={{eq city cityChoice.id}}>{{cityChoice.name}}</option>
							    {{/each}}
							</select>
					  </div>
					                        
					  <div class="form-group">
					    {{validated-input type="password" model=this placeholder="Password" valuePath="model.account.password"}}
					  	<span><i>Note: Put this field as empty if you don't wish to change the password</i></span>
					  </div>

					  <div class="form-group">
					    <select class="form-control" onchange={{action "selectRole" value="target.value"}}>
								<option value="0" selected={{eq role 0}}>Normal</option>
								<option value="1" selected={{eq role 1}}>Admin</option>
							</select>
					  </div>
					  					  
					  
					  <button type="button" class="btn btn-primary" disabled={{v-get this 'isInvalid'}} {{action "edit"}}>Edit Account</button>
					</form>
                    
                  </div>
              </div>
          </div>
      </div>
   </div>
   
</div>