{{title "Index"}}

<div class="jumbotron vertical-align index">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="centering text-center">
                <h1>Make a free reservation</h1>
                {{#if nearest}}
                    {{#if (eq nearest.length 1)}}
                        <p>There's one splendid restaurant near you!</p> 
                    {{else}}
                        <p>Choose your table from {{nearest.length}} restaurants near you!</p> 
                    {{/if}}               
                {{else}}
                <p>Choose your table from many splendid restaurants !</p>     
                {{/if}}
                <br>
                <br>

                <div class="container">
                    <br>

                    {{find-table-and-restaurant reservation=reservation findTableHandler=(action "findTable") focusOutHandler=(action "hideSuggestions") minTime=minTime maxTime=maxTime}}

                    <div class="typeahead-wrap {{if (not showSuggestions) 'display-none' ''}}">
                        <span class="tt-dropdown-menu">
                          <div class="tt-dataset-states">
                            <span class="tt-suggestions">   
                            {{#each suggestions as |suggestion|}}
                             <div class="tt-suggestion" {{action "setRestaurant" suggestion on="click"}}>
                                  <p><b>{{suggestion.name}}</b> ({{suggestion.city.name}})</p>
                              </div>
                            {{/each}}
                            </span>
                          </div>
                        </span>
                    </div>
                
                     <br>
                    <br>

                </div>
                <!-- /.col-lg-6 -->
            </div>
        </div>
    </div>
</div>

<div class="container">  
    <div class="row">
        <div class="col-md-12">
            <h2>Popular for lunch today</h2>
        </div>
    </div>

    {{#each (chunk 3 restaurants) as |restaurants_row|}}
        <div class="row">
            {{#each restaurants_row as |restaurant|}}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    {{restaurant-listing item=restaurant}}
                </div>
            {{/each}}
        </div>
    {{/each}}

    <p style="text-align: center;">
        {{#link-to 'restaurants'}} All restaurants {{/link-to}}
    </p>
</div>

{{#if nearest}}
<div class="container">  
        <div class="row">
            <div class="col-md-12">
                <h2>Popular restaurants near you</h2>
            </div>
        </div>

        {{#each (chunk 3 nearest) as |restaurants_row|}}
            <div class="row">
                {{#each restaurants_row as |restaurant|}}
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        {{restaurant-listing item=restaurant}}
                    </div>
                {{/each}}
            </div>
        {{/each}}

    <p style="text-align: center;">
        {{#link-to 'restaurants'}} All restaurants {{/link-to}}
    </p>
</div>
{{/if}}


<div class="container">
    <h2>Popular locations</h2>
    <ul class="row block-grid-4">
        {{#each locations as |location|}}
            <li class="popular-location">
                <p class="title">{{ location.[0] }}</p>
                <p class="subtitle">{{ location.[1] }} restaurants</p>
            </li>
        {{/each}}
    </ul>
</div>