{{title "Index"}}

<div class="jumbotron vertical-align index">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="centering text-center">
                <h1>Make a free reservation</h1>
                <p>Choose your table from 757 restaurants near you</p>
                <br>
                <br>

                <div class="container">
                    <br>

                    {{find-table-and-restaurant reservation=reservation findTableHandler=(action "findTable") focusOutHandler=(action "hideSuggestions") minTime=minTime maxTime=maxTime}}

                    <div class="typeahead-wrap {{if (not showSuggestions) 'display-none' ''}}">
                        <span class="tt-dropdown-menu">
                          <div class="tt-dataset-states">
                            <span class="tt-suggestions">   
                            {{#each suggestions as |suggestion|}}
                             <div class="tt-suggestion" {{action "setRestaurant" suggestion on="click"}}>
                                  <p><b>{{suggestion.name}}</b> ({{suggestion.city.name}})</p>
                              </div>
                            {{/each}}
                            </span>
                          </div>
                        </span>
                    </div>
                
                     <br>
                    <br>

                </div>
                <!-- /.col-lg-6 -->
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Popular for lunch today</h2>
        </div>

        {{#each restaurants as |restaurant|}}
            <div class="col-md-4 col-sm-6 col-xs-12">
                {{#restaurant-listing item=restaurant}}
                {{/restaurant-listing}}
            </div>
        {{/each}}

        <p style="text-align: center;">
            {{#link-to 'restaurants'}} All restaurants {{/link-to}}
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Nearest restaurants</h2>


        {{#leaflet-map lat=mapLat lng=mapLong zoom=mapZoom  onDragend=(action "updateCenter") class="biggerLeaflet"}}
            {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

          {{#each nearest as |r|}}
            {{#marker-layer lat=r.lat lng=r.lng draggable=false as |marker|}}
              {{#marker.popup}}
                <b>{{#link-to 'restaurants.restaurant' r.id}} Restaurant {{r.name}} {{/link-to}}</b><br>
                <p>A great restaurant near you!</p>
              {{/marker.popup}}
            {{/marker-layer}}
          {{/each}}

        {{/leaflet-map}}
        </div>

    </div>
</div>

<div class="container">
    <h2>Popular locations</h2>
    <ul class="row block-grid-4">
        {{#each locations as |location|}}
            <li class="popular-location">
                <p class="title">{{ location.[0] }}</p>
                <p class="subtitle">{{ location.[1] }} restaurants</p>
            </li>
        {{/each}}
    </ul>
</div>