{{title "Reset password"}}

<div class="container" id="normal-container">
   <div class="row">
	{{#if hasError}}
	  <div class="alert alert-danger"> 
	    <span>There has been an error.</span>
	  </div>   
	{{/if}}

      <div class="col-md-6 col-sm-8 col-xs-12 col-centered">
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-6 page-title v-align-center">
                Reset your password
            </div><!--
         --><div class="col-md-4 col-sm-4 col-xs-6 page-subtitle v-align-center">
                    {{#link-to 'login'}}Login{{/link-to}}
            </div>
          </div>
          <div class="row">
			<form class="col-md-12" {{action "reset" on='submit'}}>   
			{{#unless complete}}                                         
			  <div class="form-group">
			  	{{validated-input type="password" model=this placeholder="Your new password" valuePath="password"}}
			  </div>	

			  <div class="form-group">
			  	{{validated-input type="password" model=this placeholder="Confirm your new password" valuePath="password2"}}
			  </div>			                     		                                 
			  
			  <button type="submit" class="btn btn-primary" disabled={{v-get this 'isInvalid'}} >Reset password</button>
			{{/unless}}

			{{#if complete}}
			  <p class="form-result">Your password has been reset. You can now {{#link-to 'login'}}login{{/link-to}}.</p>
			{{/if}} 
			</form>
          </div>
       </div>
       
   </div>
   
</div>