<div class="row">
	<div class="col-md-12">
		<div class="card padded">
			<div class="content" style="margin-top: 0px;">
				<form>
					<div class="row">
						<div class="col-md-12">							
							{{drop-zone clickable=true addRemoveLinks=true autoProcessQueue=false acceptedFiles="image/*" addedfile=addedPhoto removedfile=removedPhoto }} 
						</div>  
					</div>
				</form>

				<p>
					<br><br>
					<b>Already added files: </b>
					<ul>
						{{#each new.restaurant.photos as |photo| }}
							{{#if isEdit}}
								<li>{{photo.imageUrl}} &nbsp; &nbsp; <a href="javascript:;" {{action "removeAddedUploadedPhoto" photo}}><i class="fa fa-remove"></i></a></li>
							{{else}}
								<li>{{photo.name}} &nbsp; &nbsp; <a href="javascript:;" {{action "removeAddedPhoto" photo}}><i class="fa fa-remove"></i></a></li>
							{{/if}}
						{{/each}}
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>
