<form role="search" class="filter-box landing" {{action (action findTableHandler) on='submit'}}>
    <div class="input-group input-group-lg">
        <span class="input-group-addon">
            <i class="fa fa-search" aria-hidden="true"></i>
        </span>
        
        {{input type="text" value=reservation.query class="form-control" placeholder="Type in a restaurant or city name ..."}}
        
        <span class="input-group-btn">                                
            {{  
				ember-selectize
				content=selectPeopleOptions
				value=reservation.persons
				placeholder="Number of people"
				class="filter-selectize"
			}}
        </span>
        
        <span class="input-group-btn date-input">                                
            {{bootstrap-datepicker autoclose=true todayHighlight=true format="M d, yyyy" startDate=startDate endDate=endDate value=reservation.date}}
        </span>
        
        <span class="input-group-btn">
            {{  
				ember-selectize
				content=selectTimeOptions
				value=reservation.wishedTime
				placeholder="Time"
				class="filter-selectize"
			}}
        </span>
        
        <span class="input-group-btn red">
            <button class="btn btn-primary" type="submit">Find a table</button>
        </span>
    </div>
</form>