{{title model.restaurant.name}}

<!-- <div class="jumbotron index restaurant" style="background-image: url('/assets/images/restaurants/covers/{{ model.restaurant.coverImageUrl }}');"> -->
<div class="jumbotron index restaurant" style="background-image: url('http://s3.eu-central-1.amazonaws.com/rbh-2017/gallery/covers/{{ model.restaurant.coverImageUrl }}');">
</div>

<div class="container" id="restaurant-container">
       <div class="row">
          
            <div class="col-md-9 col-sm-9 col-xs-12 pull-right-sm">
                <div class="restaurant-listing horizontal">
                    <h3>{{#link-to "restaurants.restaurant" model.restaurant.id}} {{ model.restaurant.name }} {{/link-to}}</h3>

                    <p class="rating">
	                    {{#each model.restaurant.activeStars as |star|}}
					  		<i class="fa fa-star" aria-hidden="true"></i>
						{{/each}}
						{{#each model.restaurant.inactiveStars as |star|}}
					    	<i class="fa fa-star inactive" aria-hidden="true"></i>
						{{/each}}

						<span class="count">({{model.restaurant.reviewCount}})</span>
                    </p>

                    <span class="dollars">
				        {{#each model.restaurant.activeDollars as |star|}}
				  		<b>$</b>
						{{/each}}
						{{#each model.restaurant.inactiveDollars as |star|}}
					    $
						{{/each}}
				    </span>
 
                    {{ restaurant-tags categories=model.restaurant.categories }}
                    
                    {{#if session.isAuthenticated}}
                        {{#if model.review.didRate }}
                            <button type="button" class="btn btn-default" disabled="true"><i class="fa fa-star" aria-hidden="true"></i>Already rated</button>
                        {{else}}
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#rateModal"><i class="fa fa-star" aria-hidden="true"></i> Rate this place</button>
                        {{/if}}                        
                    {{else}}
                        <button type="button" class="btn btn-default" disabled="true"><i class="fa fa-star" aria-hidden="true"></i>Login to rate</button>
                    {{/if}}
                </div>
            </div>
           <div class="col-md-3 col-sm-3 col-xs-12">
                <a href="#" id="profile-pic">
                    <!-- <img class="img-responsive" src="/assets/images/restaurants/logos/{{ model.restaurant.logoImageUrl }}" alt="{{ model.restaurant.name }}"> -->
                    <img class="img-responsive" src="http://s3.eu-central-1.amazonaws.com/rbh-2017/gallery/logos/thumbs/{{ model.restaurant.logoImageUrl }}" alt="{{ model.restaurant.name }}">

                </a>
            </div>
       </div>
       
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <ul class="sidebar">
                    <li>{{scroll-to href='#section-reservation' label='Reservation'}}</li>
                    <li>{{scroll-to href='#section-about' label='About'}}</li>
                    <li>{{scroll-to href='#section-menu' label='Menu'}}</li>
                    <li>{{scroll-to href='#section-photos' label='Photos'}}</li>
                    <li><a href="#" {{action "toggleReviews"}}>{{if showReviews "Hide" "Show"}} reviews</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-9 col-sm-9 col-xs-12" id="pull-up-column">

                {{outlet}}

                {{#if showReviews}}
                    {{#each model.restaurant.reviews as |review|}}                                            
                        <div class="card review">
                            <div class="padded">
                                <div class="title">
                                    <div class="row">
                                        <div class="col-md-9 col-sm-9 col-xs-6 main v-align-center">
                                            Review
                                            
        {{star-rating item=review rating=review.rating maxRating=review.rating fullClassNames='fa fa-star' emptyClassNames='fa fa-star inactive'}} 
                                        </div><!--
                                     --><div class="col-md-3 col-sm-3 col-xs-6 sub v-align-center">
                                            <span style="height: 10px;">{{ review.accountName}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                   <div class="row">
                                       <div class="col-md-12">
                                            <p>
                                                {{ review.description }}
                                            </p>  
                                            
                                       </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {{/each}}

                {{else}}                
                <div class="card" id="section-reservation">
                    <div class="padded">
                        <div class="title">
                            <div class="row">
                                <div class="col-md-9 col-sm-9 col-xs-6 main v-align-center">
                                    Make a free reservation
                                </div><!--
                             --><div class="col-md-3 col-sm-3 col-xs-6 sub v-align-center">
                                    <span style="height: 10px;">Booked {{ model.restaurant.reservationsToday}} times today</span>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                           <div class="row">
                               <div class="col-md-12">
                                    {{
                                        find-table 
                                        reservation=reservation 
                                        findTableHandler=(action "findTable")
                                        minTime=model.restaurant.workingTimeFrom 
                                        maxTime=model.restaurant.workingTimeTo
                                    }}
                                        
                                    {{#if hasError}}
                                        <div class="regular-header">
                                            <i>{{errorMsg}}</i>
                                        </div>
                                    {{else}}
                                        {{#if gotSuggestions}}
                                             <div class="regular-header">
                                                Availability on {{moment-format reservation.date 'MMM DD, YYYY'}} around {{ reservation.wishedTime }} for {{ reservation.persons }}:
                                            </div>
                                            
                                            <div class="tiny-text grey">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i> {{ tablesLeft }} tables left
                                                &nbsp; &nbsp; &nbsp; &nbsp;
                                                <i class="fa fa-check-circle green" aria-hidden="true"></i> {{ model.restaurant.reservationsToday}} reservations today
                                            </div>
                                            
                                            <div class="regular-text">
                                                Select the best time that fits you:
                                            </div>
                                            
                                            {{#each suggestions as |suggestion|}}
                                                <a class="btn btn-primary" {{ action "reserveTable" suggestion.suggestedTime suggestion.tableId }} disabled={{ inProcessOfReservation }}>{{moment-format suggestion.suggestedTime 'h:mm A'}}</a>
                                            {{/each}}
                                        {{/if}}
                                    {{/if}}
                                                                        
                                   
                                    
                               </div>
                            </div>
                        </div>
                    </div>

                </div>
                
                <div class="card" id="section-about">
                    <div class="padded">
                        <div class="title">
                            <div class="row">
                                <div class="col-md-12 main">
                                    About {{ model.restaurant.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="map">
                    	{{#g-map lat=model.restaurant.lat lng=model.restaurant.long zoom=15 as |context|}}
                    		{{g-map-marker context lat=model.restaurant.lat lng=model.restaurant.long}}
                    	{{/g-map}}
                    </div>
                    <div class="padded">
                        <div class="content">
                           <div class="row">
                               <div class="col-md-12">
                                    <div class="subtitle">
                                        Description
                                    </div>
                                    <p class="regular-text">
                                        {{{ model.restaurant.description }}}
                                    </p>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card" id="section-menu">
                    <div class="padded">
                        <div class="title">
                            <div class="row">
                                <div class="col-md-12 main">
                                    Menu
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="padded top-border">
                        <div class="content">
                           <div class="row">
                               <div class="col-md-12">
                                   <ul class="restaurant-menu">
									{{#each model.restaurant.menuItems as |menuItem|}}
								  		<li class="item">
	                                      <span>{{ menuItem.name }}</span>
	                                      <span>${{ menuItem.price }}</span>
	                                    </li>
	                                    <li>
	                                        <span>
	                                            {{ menuItem.description }}
	                                        </span>
	                                    </li>
									{{/each}}
                                  </ul>
                                   
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card" id="section-photos">
                    <div class="padded">
                        <div class="title">
                            <div class="row">
                                <div class="col-md-9 col-sm-9 col-xs-6 main v-align-center">
                                    Restaurants Photo
                                </div><!--
                             --><div class="col-md-3 col-sm-3 col-xs-6 sub v-align-center">
                                   <!-- <span style="height: 10px;"><a href="#">See All Photos (12)</a></span> -->
                                </div>
                            </div>
                        </div>
                        <div class="content">
                           <div class="row photoSwipeGallery">
                           {{#photo-swipe items=photos as |img|}}
                                    <img class="photoSwipeThumb" src={{img.src}} alt={{img.title}}>
                           {{/photo-swipe}}
                            </div>
                        </div>
                    </div>
                </div>

                {{/if}}


            </div>

        </div>
    </div>

    {{ restaurant-rate-modal review=model.review starClickedAction=(action "starClicked") rateAction=(action "rate")}}
